    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 animated out" data-animation="fadeInUp" data-delay="0">
                    <div class="widget widget-contact">
                        <h4>Get in Touch</h4>
                        <ul>
                            <li>Phone: +44 7967858903</li>
                            <li>Email: <a href="#">info@madgrads.co.uk</a></li>
                        </ul>
                    </div>
                    <!-- /widget --> 
                    
                </div>
                              <div class="col-xs-12 col-sm-6 col-md-3 animated out" data-animation="fadeInUp" data-delay="0">
                    <div class="widget widget-contact">
                        <h4>About Cos</h4>
                        <p>AskCos is a platform which lets you ask questions to the community and get answers from around the world.</p>
                    </div>
                    <!-- /widget --> 
                    
                </div>
                              <div class="col-xs-12 col-sm-6 col-md-3 animated out" data-animation="fadeInUp" data-delay="0">
                    <div class="widget widget-contact">
                        <h4>How it works?</h4>
                        <ol>
                            <li>Ask a question</li>
                            <li>Go to the gym</li>
                          <li>See what the community has answered</li>
                        </ol>
                    </div>
                    <!-- /widget --> 
                    
                </div>
            </div>
        </div>
    </footer>