<div class="pageWrapper">
    <article class="top-strip">
        <div class="container">
            <div class="pull-left">
                <ul class="inline">
                    <li><i class="icon-phone"></i><strong>Call us</strong> +44 7987876908</li>
                    <li><i class="icon-mail"></i><strong>Send email</strong> <a href="mailto:info@madgrads.co.uk">info@madgrads.co.uk</a>
                </ul>
            </div>
            <div class="pull-right">
                <ul class="social-links">
            
                  <li><a href="http://www.facebook.com/cos.sarris" class="icon-fa icon-facebook"><span class="icon-fa icon-twitter"></span></a></li>


                </ul>
            </div>
        </div>
    </article>
    <article class="logo-bar">
        <div class="container"> 
            
            <!-- Logo -->
          <div class="logo"> <a href="/"><img alt="Logo" height="80" src="/qman.jpg"></a> </div>
            <div class="pull-right"> <span class="nav-button"></span>
                <nav class="main-nav">
                    <ul class="menu">
                      <li><a href="/" data-dup="Home">Home</a></li>
                      <li><a href="/questions/new" data-dup="New Question">New Question</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </article>